Repository manaten/manaten.net: changes, and which lint-staged commands are due for each by the changed paths.
All: eclint fix, eslint --fix, imagemin-lint-staged

fix(entry): update desk-2022.md
  src/assets/css/hatena-blog-theme.css
  src/blog-entries/entries/2022/12/desk-2022.md
Due: eclint fix

fix(top): パララックスが壊れてたので修正
  src/assets/pug/fantasy.pug
Due: none

feat(blog): add manaten-style-stable-diffusion.md
  src/blog-entries/entries/2023/02/manaten-style-stable-diffusion.md
  src/blog-entries/images/2023/02/1 1.gif
  src/blog-entries/images/2023/02/1 2.gif
  src/blog-entries/images/2023/02/1.gif
  src/blog-entries/images/2023/02/20230206 1.png
  src/blog-entries/images/2023/02/20230206 2.png
  src/blog-entries/images/2023/02/20230206.png
  src/blog-entries/images/2023/02/Untitled 1.png
  src/blog-entries/images/2023/02/Untitled 2.png
  src/blog-entries/images/2023/02/Untitled 3.png
  src/blog-entries/images/2023/02/Untitled 4.png
  src/blog-entries/images/2023/02/Untitled 5.png
  src/blog-entries/images/2023/02/Untitled 6.png
  src/blog-entries/images/2023/02/Untitled 7.png
  src/blog-entries/images/2023/02/Untitled 8.png
  src/blog-entries/images/2023/02/Untitled 9.png
  src/blog-entries/images/2023/02/Untitled.png
Due: eclint fix, imagemin-lint-staged

feat(blog): add firststar-hateno-pixelart.md
  src/blog-entries/entries/2023/03/firststar-hateno-pixelart.md
  src/blog-entries/images/2023/03/hateno.gif
  src/blog-entries/images/2023/03/hateno_x2_1.gif
  src/blog-entries/images/2023/03/hateno_x2_2.gif
  src/blog-entries/images/2023/03/hateno_x2_3.gif
  src/blog-entries/images/2023/03/hateno_x2_4.gif
Due: eclint fix, imagemin-lint-staged

feat(gallery): ギャラリーにはてのちゃん追加
  src/blog-entries/entries/2023/03/firststar-hateno-pixelart.md
  src/gallery/images/hateno.gif
  src/gallery/index.pug
Due: eclint fix, imagemin-lint-staged

fix(hateno): はてのちゃんスターつけるのドット絵修正
  src/blog-entries/images/2023/03/hateno.gif
  src/blog-entries/images/2023/03/hateno_x2_4.gif
  src/gallery/images/hateno.gif
Due: imagemin-lint-staged

fix(theme): fix bit
  src/assets/images/fantasy_2_sprite.gif
  src/assets/images/fantasy_2_spritex2.gif
Due: imagemin-lint-staged

fix(fantasy): fix bit
  src/gallery/images/fantasy_2.gif
Due: imagemin-lint-staged

feat: add chatgpt-benri.md
  src/blog-entries/entries/2023/09/chatgpt-benri.md
  src/blog-entries/images/2023/09/00.png
  src/blog-entries/images/2023/09/01.png
  src/blog-entries/images/2023/09/02.png
  src/blog-entries/images/2023/09/03.png
  src/blog-entries/images/2023/09/04.png
  src/blog-entries/images/2023/09/05.png
  src/blog-entries/images/2023/09/06.png
Due: eclint fix, imagemin-lint-staged

feat: add chatgpt-benri.md (#12)
  src/blog-entries/entries/2023/09/chatgpt-benri.md
  src/blog-entries/images/2023/09/00.png
  src/blog-entries/images/2023/09/01.png
  src/blog-entries/images/2023/09/02.png
  src/blog-entries/images/2023/09/03.png
  src/blog-entries/images/2023/09/04.png
  src/blog-entries/images/2023/09/05.png
  src/blog-entries/images/2023/09/06.png
Due: eclint fix, imagemin-lint-staged

fix: fix chatgpt-benri.md
  src/blog-entries/entries/2023/09/chatgpt-benri.md
Due: eclint fix

feat: add skeb.md
  src/blog-entries/entries/2023/09/skeb.md
  src/blog-entries/images/2023/09/header.gif
  src/blog-entries/images/2023/09/jagaximo.png
  src/blog-entries/images/2023/09/turuturu_big.png
Due: eclint fix, imagemin-lint-staged

feat: add skeb.md (#13)
  src/blog-entries/entries/2023/09/skeb.md
  src/blog-entries/images/2023/09/header.gif
  src/blog-entries/images/2023/09/jagaximo.png
  src/blog-entries/images/2023/09/turuturu_big.png
Due: eclint fix, imagemin-lint-staged

Update skeb.md
  src/blog-entries/entries/2023/09/skeb.md
Due: eclint fix

feat: add runtime-env-for-client.md
  .vscode/settings.json
  package-lock.json
  package.json
  src/blog-entries/entries/2023/10/runtime-env-for-client.md
  src/blog-entries/images/2023/10/ss.png
Due: eclint fix, imagemin-lint-staged

feat: add runtime-env-for-client.md (#14)
  .vscode/settings.json
  package-lock.json
  package.json
  src/blog-entries/entries/2023/10/runtime-env-for-client.md
  src/blog-entries/images/2023/10/ss.png
Due: eclint fix, imagemin-lint-staged

fix: skeb.md
  .lintstagedrc
  .node-version
  .prettierrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/blog-entries/entries/2023/09/skeb.md
Due: eclint fix

feat: add shap-jimp-animate-gif.md
  .vscode/settings.json
  .vscode/snippets.code-snippets
  src/blog-entries/entries/2023/09/skeb.md
  src/blog-entries/entries/2023/10/shap-jimp-animate-gif.md
  src/blog-entries/images/2023/10/extracted.gif
  src/blog-entries/images/2023/10/namazu.gif
  src/blog-entries/images/2023/10/namazu_sprite.png
Due: eclint fix, imagemin-lint-staged

feat: add shap-jimp-animate-gif.md (#15)
  .vscode/settings.json
  .vscode/snippets.code-snippets
  src/blog-entries/entries/2023/09/skeb.md
  src/blog-entries/entries/2023/10/shap-jimp-animate-gif.md
  src/blog-entries/images/2023/10/extracted.gif
  src/blog-entries/images/2023/10/namazu.gif
  src/blog-entries/images/2023/10/namazu_sprite.png
Due: eclint fix, imagemin-lint-staged

feat: add 202312/*.md
  .vscode/settings.json
  src/blog-entries/entries/2023/12/2023-manaten-frontend.md
  src/blog-entries/entries/2023/12/2023-skeb.md
  src/blog-entries/images/2023/12/20230916_namazu.gif
  src/blog-entries/images/2023/12/20231105_comomo_czkr.gif
  src/blog-entries/images/2023/12/20231113_MoshiMui.gif
  src/blog-entries/images/2023/12/20231113_lisha_bunny.gif
  src/blog-entries/images/2023/12/20231113_rest3d_resets.gif
Due: eclint fix, imagemin-lint-staged

feat: add 202312/*.md (#16)
  .vscode/settings.json
  src/blog-entries/entries/2023/12/2023-manaten-frontend.md
  src/blog-entries/entries/2023/12/2023-skeb.md
  src/blog-entries/images/2023/12/20230916_namazu.gif
  src/blog-entries/images/2023/12/20231105_comomo_czkr.gif
  src/blog-entries/images/2023/12/20231113_MoshiMui.gif
  src/blog-entries/images/2023/12/20231113_lisha_bunny.gif
  src/blog-entries/images/2023/12/20231113_rest3d_resets.gif
Due: eclint fix, imagemin-lint-staged

fix: 追記
  src/blog-entries/entries/2023/09/skeb.md
Due: eclint fix

fix: 追記 (#17)
  src/blog-entries/entries/2023/09/skeb.md
Due: eclint fix

fix: amazonリンクを修正
  src/blog-entries/entries/2022/12/desk-2022.md
Due: eclint fix

fix: amazonリンクを修正 (#18)
  src/blog-entries/entries/2022/12/desk-2022.md
Due: eclint fix

feat: add dell-monitor-kvm-switch.md
  src/blog-entries/entries/2024/01/dell-monitor-kvm-switch.md
  src/blog-entries/images/2024/01/01.jpg
  src/blog-entries/images/2024/01/02.png
  src/blog-entries/images/2024/01/03.png
  src/blog-entries/images/2024/01/04.jpg
  src/blog-entries/images/2024/01/05.jpg
  src/blog-entries/images/2024/01/06.jpg
  src/blog-entries/images/2024/01/07.jpg
  src/blog-entries/images/2024/01/08.jpg
  src/blog-entries/images/2024/01/09.png
Due: eclint fix, imagemin-lint-staged

feat: add dell-monitor-kvm-switch.md (#19)
  src/blog-entries/entries/2024/01/dell-monitor-kvm-switch.md
  src/blog-entries/images/2024/01/01.jpg
  src/blog-entries/images/2024/01/02.png
  src/blog-entries/images/2024/01/03.png
  src/blog-entries/images/2024/01/04.jpg
  src/blog-entries/images/2024/01/05.jpg
  src/blog-entries/images/2024/01/06.jpg
  src/blog-entries/images/2024/01/07.jpg
  src/blog-entries/images/2024/01/08.jpg
  src/blog-entries/images/2024/01/09.png
Due: eclint fix, imagemin-lint-staged

fix: change private
  package.json
Due: eclint fix

fix: blog
  src/blog-entries/entries/2024/01/dell-monitor-kvm-switch.md
Due: eclint fix

fix: blog (#20)
  src/blog-entries/entries/2024/01/dell-monitor-kvm-switch.md
Due: eclint fix

feat: すごい今更ながらogpを実装
  src/assets/pug/common.pug
Due: none

fix: 画像をちゃんと別で用意
  src/assets/pug/common.pug
  webpack.config.js
Due: eslint --fix

feat: すごい今更ながらogpを実装 (#21)
  src/assets/pug/common.pug
  webpack.config.js
Due: eslint --fix

fix: ogファイル追加漏れ
  src/assets/images/og.gif
Due: imagemin-lint-staged

fix: 追記
  src/blog-entries/entries/2024/01/dell-monitor-kvm-switch.md
Due: eclint fix

fix: 追記 (#22)
  src/blog-entries/entries/2024/01/dell-monitor-kvm-switch.md
Due: eclint fix

feat: 2024-manaten-frontend.md
  .vscode/extensions.json
  .vscode/settings.json
  src/blog-entries/entries/2024/12/2024-manaten-frontend.md
Due: eclint fix

fix: 2024-manaten-frontend.md
  src/blog-entries/entries/2024/12/2024-manaten-frontend.md
Due: eclint fix

feat: 2024-manaten-frontend.md (#23)
  .vscode/extensions.json
  .vscode/settings.json
  src/blog-entries/entries/2024/12/2024-manaten-frontend.md
Due: eclint fix

feat: add 2024-skeb.md
  src/blog-entries/entries/2024/12/2024-skeb.md
  src/blog-entries/images/2024/12/20231231_alessa.gif
  src/blog-entries/images/2024/12/20231231_ixie_nova.gif
  src/blog-entries/images/2024/12/20231231_teddy.gif
  src/blog-entries/images/2024/12/20240107_alessa.gif
  src/blog-entries/images/2024/12/20240107_ec.gif
  src/blog-entries/images/2024/12/20240107_inota_kamiya.gif
  src/blog-entries/images/2024/12/20240115_manaten.gif
  src/blog-entries/images/2024/12/20240115_manaten.png
Due: eclint fix, imagemin-lint-staged

Path conditions:
  eclint fix: any of: *.{cmd,html,json,md,sh,txt,xml,yml}
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,vue}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
